.dashboard-body {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashbord-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.dashboard-card {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard-banner {
  padding: 0px;
  display: flex;
  flex-direction: row;
}
