.header {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  padding-left: 15px;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}
.avatar {
  display: flex;
  align-items: center;
}
.header-plus {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.search_input.hidden {
  display: none;
}

.header-avatar {
  width: 30px;
  height: 30px;
  border-radius: 1rem;
}
.nab-bar .nab-bar-bar {
  padding: 0px;
}

.nab-bar-link .mr-auto {
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nab-bar-link .mr-auto .nab-link {
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}
