.footer {
  padding-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}

.footer-social {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.footer-invite {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
}
.footer-title {
  font-size: 20px;
}

.footer_social_icon {
  padding-top: 10px;
  padding: 15px;
}
.footer-invite-title {
  font-size: 15px;
  padding-top: 10px;
}
.footer-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-input {
  padding: 0px;
  width: 70%;
  height: 40px;
  border: 1px solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-button {
  width: 30%;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.footer_site_link {
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.site_link {
  color: black;
  font-size: 15px;
}
.footer-invite-copyright {
  font-size: 20px;
  padding-top: 20px;
}
.bootstrap-gray-button {
  background-color: #333333 !important;
  color: white !important;
}

.bootstrap-gray-button:hover {
  background-color: #666666 !important;
  color: white !important;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
